body {
	margin: 0.2rem;
}

form {
	margin: 0;
	padding: 0;
}

label {
	color: var(--in-content-text-color, var(--in-content-selected-text));
}

label span {
	display: inline-block;
	width: 5rem;
}

input {
	display: inline-block;
	width: 75%;
	margin: 0 0.1rem;
	color: var(--in-content-text-color, var(--in-content-selected-text));
	background-color: var(--in-content-box-background);
}

input.ruleNo {
	width: 15%;
}

button {
	background-color: var(--in-content-button-background);
	text-align: center;
}

button:hover {
	background-color: var(--in-content-button-background-hover);
	color: var(--in-content-button-text-color-hover);
}

div.field,
div.rule-field {
	margin: 0.1rem;
	width: 90%;
	text-align: right;
}

div.rule-field {
	border: 1px solid var(--in-content-box-border-color, #ccc);
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 4px;
	position: relative;
	background-color: var(--in-content-box-background);
}

div.rule-field label {
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

div.rule-field label span {
	margin: 0 0.2rem;
	width: 20%;
}

button.removeRule {
	margin-top: 5px;
	color: #ff4a4a;
}

div.button-field {
	margin: 0.1rem;
	text-align: center;
}

#initialize {
	overflow: left;
}