html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

form {
	margin: 0;
	padding: 0;
}

label {
	color: var(--in-content-text-color, var(--in-content-selected-text));
}
label span {
	display: inline-block;
	width: 5rem;
}

input {
	display: inline-block;
	width: auto;
	margin: 0 0.1rem;
	padding: 0;
	color: var(--in-content-text-color, var(--in-content-selected-text));
	background-color: var(--in-content-box-background);
}

button {
	background-color: var(--in-content-button-background);
	text-align: center;
}
button:hover {
	background-color: var(--in-content-button-background-hover);
	color: var(--in-content-button-text-color-hover);
}

div.field {
	margin: 0.1rem;
	width: 100%;
}
div.button-field {
	margin: 0.1rem;
	text-align: center;
}

#initialize {
	overflow: left;
}